body{
	margin:0;
	padding:0;
	background:url("back2.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}
.flex-container{
	display:flex;
	flex-flow:row wrap;
	background:rgba(255,255,255,0.3);
	backdrop-filter:blur(20px);
	border-radius:10px;
	margin:5%;
	padding:5%;
}
#profile{
	height:300px;
	width:300px;
	border-radius:50%;
	background:white;
	margin-top:5px;	
}
#profile_name{
	padding:10px;
	font-size:20px;
	font-style:bold;
}